<% provide(:title, "About") %>
<h1> JogTracker About</h1>

<!--the links aren't very relevant but I introduced them to make a point -->

 <p>The <a href="https://www.jogtrackerapp.com/about"><em>JogTracker App</em>
   </a> is part of the <a href="https://www.learnenough.com/">Learn Enough</a>
    family of tutorials, aiming to guide users in efficient jogging activity tracking.
 </p>

    