<%= render 'layouts/logoimg' %>
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Contact the JogTracker Team about the app at the
<a href="https://www.jogtracker.com/Feedback">contact page</a>.
</p>
