<% provide(:title, "Help") %>
<h1> JogTracker Help</h1>
<!--the links aren't very relevant but I introduced them to make a point -->
  <p>Get assistance with using the JogTracker app. If you have questions related to the JogTracker application,
      visit our <a href="https://www.jogtracker.com/">JogTracker Help page</a>.
      For comprehensive guidance on using the app and its features, refer to the <a href="https://www.jogtracker.com/Feedback">
      <em>JogTracker User Guide</em></a>
   </p>
 