<div class="logo-container">
<%= link_to image_tag("jogtracker.png", id: "logo_img", class: "logo-image", alt: "JogTracker logo", width: "200"),
"https://www.highwaynorth.com/v3/img/jogtracker.png" %>
</div>